.modal__cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10000000000;
  animation: identifier 0.5s ease;
}

.modal__form-layout {
  background-color: rgb(255, 255, 255);
  width: 440px;
  height: 130vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px,
    rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
  padding: 2rem 2rem;
  overflow: auto;
  width: 456px;
  height: 100vh;
  overflow-y: scroll;
  border-radius: 20px;
  border: 1px solid #000;
}

.modal__form-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #ccc;
  /* width: 94vw; */
  gap: 1rem;
  height: 5vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;

  & .modal__form-close {
    font-size: 2rem;
    cursor: pointer;
  }
  & .modal__form-close:hover {
    opacity: 0.7;
  }
}

.modal__form-shopping {
  margin-top: 5rem;
}

.modal__shopping-products {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}

.modal__products-item {
  & .modal__item-img {
    width: 116px;
    height: auto;
  }
}

.modal__products-container {
  & .modal__container-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  & .modal__container-text {
    font-size: 1rem;
  }
  & .modal__container-close {
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.modal__form-card {
  display: flex;
  flex-direction: column;
  gap: 22rem;
}

.modal__products-content {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 1rem;
  & .modal__content-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  & .content__numberCart {
    border: 1px solid #a4a1a1;
    padding: 4px 4px;
    text-align: center;
    width: 50px;
    font-size: 1rem;
    border-radius: 0.25rem;
    outline: none;
  }
}
.modal__close {
  display: flex;
  align-items: flex-end;
}

.modal__total-fl {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal__buynow {
  background: #ccc;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal__buynow:hover {
  color: rgb(236, 44, 44);
  transition: all 0.4s;
}

.modal__close-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}
.modal__form-shopping div {
  margin-bottom: 1rem;
}

.modal__cart.open {
  display: flex;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .modal__form-card {
    display: flex;
    flex-direction: column;
    gap: 50rem;
  }
}

@keyframes identifier {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 0.4;
    transform: translateX(0);
  }
}

@keyframes mover {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0.4;
    transform: translateX(100%);
  }
}
